version: '3.8'

services:
  postgresql:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: campus_reservas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  n8n-c:
    image: n8nio/n8n
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - TZ=America/Sao_Paulo
    volumes:
      - ./n8n_data:/home/node/.n8n
    depends_on:
      - postgresql
